* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_499 {
  width: 100%;
  height: 805px;
  background: url("../images/v0_499.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_500 {
  width: 100%;
  height: 768px;
  background: rgba(253,253,251,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v0_501 {
  width: 100%;
  height: 768px;
  background: url("../images/v0_501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v0_502 {
  width: 100%;
  height: 768px;
  background: rgba(253,253,251,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_503 {
  width: 496px;
  height: 944px;
  background: linear-gradient(rgba(234,227,212,0), rgba(234,227,212,1));
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 965px;
}
.v0_504 {
  width: 502px;
  height: 804px;
  background: url("../images/v0_504.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 662px;
  box-shadow: 0px 4px 50px rgba(0.6117647290229797, 0.5882353186607361, 0.5411764979362488, 0.2199999988079071);
  overflow: hidden;
}
.v0_505 {
  width: 187px;
  height: 16px;
  background: url("../images/v0_505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 647px;
  left: 1065px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_507 {
  width: 122px;
  color: rgba(26,25,23,1);
  position: absolute;
  top: 0px;
  left: 65px;
  font-family: Prata;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_508 {
  width: 140px;
  height: 16px;
  background: url("../images/v0_508.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 583px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_510 {
  width: 58px;
  color: rgba(26,25,23,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Prata;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v0_511 {
  width: 9px;
  height: 13px;
  background: url("../images/v0_511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 65px;
  overflow: hidden;
}
.v0_512 {
  width: 8px;
  height: 7px;
  background: url("../images/v0_512.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border: 1px solid rgba(27,26,23,1);
}
.v0_513 {
  width: 2px;
  background: url("../images/v0_513.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  border: 1px solid rgba(27,26,23,1);
}
.v0_514 {
  width: 6px;
  height: 13px;
  background: url("../images/v0_514.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(27,26,23,1);
}
.v0_515 {
  width: 205px;
  height: 64px;
  background: url("../images/v0_515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 479px;
  left: 181px;
  overflow: hidden;
}
.v0_516 {
  width: 205px;
  height: 64px;
  background: rgba(68,66,64,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_517 {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 26px;
  left: 38px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v0_518 {
  width: 258px;
  color: rgba(26,25,23,0.8199999928474426);
  position: absolute;
  top: 381px;
  left: 185px;
  font-family: Roboto;
  font-weight: Light;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v0_519 {
  width: 408px;
  height: 95px;
  background: url("../images/v0_519.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 247px;
  left: 120px;
  overflow: hidden;
}
.v0_520 {
  width: 154px;
  color: rgba(27,26,23,1);
  position: absolute;
  top: 64px;
  left: 65px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v0_521 {
  width: 343px;
  color: rgba(27,26,23,1);
  position: absolute;
  top: 0px;
  left: 65px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v0_523 {
  width: 18px;
  height: 75px;
  background: url("../images/v0_523.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 55px;
  overflow: hidden;
}
.v0_524 {
  width: 18px;
  height: 18px;
  background: rgba(92,92,80,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v0_525 {
  width: 9px;
  height: 17px;
  background: rgba(92,92,80,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 4px;
}
.v0_526 {
  width: 17px;
  height: 14px;
  background: rgba(92,92,80,1);
  opacity: 1;
  position: absolute;
  top: 61px;
  left: 1px;
}
.v0_527 {
  width: 99px;
  height: 21px;
  background: url("../images/v0_527.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 1212px;
  overflow: hidden;
}
.v0_528 {
  width: 16px;
  height: 16px;
  background: rgba(26,25,23,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
}
.v0_529 {
  width: 18px;
  height: 16px;
  background: rgba(26,25,23,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 81px;
}
.v0_530 {
  width: 19px;
  height: 16px;
  background: rgba(27,26,23,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 39px;
  border: 0.75px solid rgba(27,26,23,1);
}
.v0_531 {
  width: 13px;
  height: 13px;
  background: rgba(230,200,180,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 53px;
  border-radius: 50%;
}
.v0_532 {
  width: 11px;
  color: rgba(27,26,23,1);
  position: absolute;
  top: 2px;
  left: 54px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 8px;
  opacity: 1;
  text-align: center;
}
.v0_533 {
  width: 103px;
  height: 26px;
  background: url("../images/v0_533.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 97px;
  overflow: hidden;
}
.v0_534 {
  width: 78px;
  color: rgba(85,82,72,1);
  position: absolute;
  top: 5px;
  left: 25px;
  font-family: Playfair Display;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v0_535 {
  width: 19px;
  height: 19px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  border: 1px solid linear-gradient(rgba(84,81,72,1), rgba(26,25,23,0));
  transform: rotate(-28deg);
}
.v0_536 {
  width: 18px;
  height: 16px;
  background: url("../images/v0_536.png");
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 55px;
  border: 1px solid rgba(26,25,23,1);
}
